body {
    background-image: url(assets/young-smiling-afro-american-cook-chef-uniform-holds-cake-plate-points-with-hand-isolated-white-wall.jpg);
    background-size: contain;
}
img{
    height: 202px;
    width: 202px;
}